    <!DOCTYPE html>
    <html lang="pt">
    <head>
        <link rel="stylesheet" href="/./assets/css/login.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login de Voluntário</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
        <div style="width: 386px;">
            <div>
                <h1>Olá, voluntário.</h1>
                <h2>Bem-vindo de volta!</h2>
            </div>
            <div>
                <div>
                    <p>Estamos aqui para ajudar. Entre na sua conta VTM para começar.</p>
                    <form action="#" method="POST">
                        <div class="container">
                            <label for="email" class="title">E-mail</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="container">
                            <label for="password" class="title">Senha</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <div>
                            <a href="#">Esqueceu a senha?</a>
                        </div>
                        <button type="submit">Login</button>
                    </form>
                    <p>Não possui uma conta? <a href="#">Registre-se</a></p>
                </div>
            </div>
        </div>
    </body>
    </html>